body{  
	background: rgb(0,85,164);
	background: linear-gradient(90deg, rgba(0,85,164,1) 10%, rgba(255,255,255,1) 40%, 		rgba(255,255,255,1) 60%, rgba(239,65,53,1) 90%); 
}
	
#text1{
	text-align: center;
	font-family: "Times New Roman", "Times", serif;
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 2px;
	word-spacing: 3px;
	color: #0B0982;
}

#rect{
    width:7000px;
    height:500px;
    background:grey;
}