/* Autres pages */ 

html, body{  
	margin : 0;  /* Enlever la marge a droite et a gauche de l'écran */
	height : 100%;	/* Enlever la marge a droite et a gauche de l'écran */
	width : 100%;
 	overflow : hidden;  /* Cacher la barre de défilement */
  font-family : 'Roboto', sans-serif;  /* police d'ecriture */
}

.rectangle{
	display: flex;
	position:relative;
	width:100%;
  	padding-top: 10px;
 	background-image: linear-gradient(to right top, #ffffff, #f2f2f2, 
  	#e5e5e5, #d9d9d9, #cccccc, #c6c6c6, #c1c1c1, #bbbbbb, #bbbbbb
  	, #bbbbbb, #bbbbbb, #bbbbbb);
}

.titre {
  flex-grow : 1;
  text-align: end;
  font-size : 80px;
  margin-top: 0.7%;
  margin-right: 3%;

}

.phrase{
 	position: absolute;
  bottom:0;
  right: 3%;
	display:flex;
 	text-align: right;
 	font-size : 40px;
 	font-weight: 300;
 	color:white;
}

.logo {
	margin-left: 15%;
	margin-top: 6%;
	margin-bottom: 10px;
}

.title {
	text-align: center;
}

.menu {
 	background-image: linear-gradient(to bottom, #bbbbbb, #c8c8c8, #d4d4d4, #e1e1e1, #eeeeee, 							#eeeeee, #eeeeee, #eeeeee, #e1e1e1, #d4d4d4, #c8c8c8, #bbbbbb);
	width: 50%;
	height: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 30px;
  text-align: center;

}

.menu ul {
	list-style: none;
	display: flex;
	margin: 5px;
}

.menu li {
  font-size: 30px;
	margin-left: 35px;
  margin-right: 35px;
}

.menu a {
	color: white;
	text-decoration: none;
}



.contenu ul{
    align-self: center;
}

.image_partenaires > img{
  width:  100px;
  height: 100px;

}

/* Couleur des titres */
#jeune {
 	color: #ef037f;
}

#lien_jeune{
  	background-color: #ef037f;
  	padding-left: 10px;
  	padding-right: 10px;
 	 color: white;
}

#referent {
  	color: #1bbc00;
}

#lien_referent{
  	background-color: #1bbc00;
  	padding-left: 10px;
  	padding-right: 10px;
  	color: white;
}

#consultant {
  	color: #006fb0;
}

#lien_consultant{
  	background-color: #006fb0;
  	padding-left: 10px;
  	padding-right: 10px;
  	color: white;
}

#partenaires {
  	color: #454545;
}

#lien_partenaires{
  	background-color: #454545;
  	padding-left: 10px;
  	padding-right: 10px;
  	color: white;
}

.contenu {
  background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff,
   #ffffff, #ffffff, #f9f9f9, #f4f4f4, #eeeeee, #e1e1e1, #d4d4d4,
    #c8c8c8, #bbbbbb);
  height:80%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
}


/* Style pour le formulaire */

.login_parent{
  display: flex;
  position:relative;
  border-radius: 10px;
  width:95%;
  font-size:23px;
  height: 550px;
  border: 3px #ef037f solid;
  margin: 0 auto;
}

.connexion{
  position:absolute;
  text-align: center;
  width:49%;
  height:280px;

}
.barre_milieu{
  position:absolute;
  width:2%;
  margin-left:49%;
  color:#ef037f;
  border-left: 3px solid;
  height: 550px;
}

.inscription{
  position:absolute;
  width:49%;
  margin-left:51%;
  
}

/*form label {
  float:right;
  background:blue;
  width:25%;
  height:280px;
  font-size: 1.2rem;
  font-weight: bold;
}*/

form input,
form select,
form textarea {
	height:40px;
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}



form input[type="button"] {
  background-color: #ef037f;
  color: #FFFFFF;
  border: none;
  height: 30px;
  width: 30%;
  margin-top: 10px;
  margin-bottom:10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #006400;
}

/*Style projet jeunes index*/

h3{
  font-size: 30px;
}
#texte-jeune-index{
  font-size: 20px;
}

tbody{
  text-align: justify;
}

table{
  text-align : justify;
  font-family: sans-serif;
  border-spacing: 40px; 
}
table tr td{
  vertical-align: top;
  width: 600px;
}
table tr td + td{
  width: 600px;
  vertical-align: top; 
}
table tr td + td + td{
  width: 600x;
  vertical-align: top;
}

.taille p{
  font-size: 4rem;
}

.contenu-index{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rectangle-jeune{
  display: flex;
  justify-content: center;
  text-align: center;
}

.carre1{
  margin-right: 100px;
  font-size: 25px;
  text-align: center;
  color: white;
  border: 4px solid #ef037f;
  background-image: linear-gradient(to left, #ef037f, #ef037f,
  #ef037f, #e56bb7, #ffffff);
}

.carre2{
  margin-right: 100px;
  font-size: 25px;
  color: white;
  border: 4px solid #1bbc00;
  background-image: linear-gradient(to left, #1bbc00, #1bbc00,
  #559e27, #8abc48, #ecf98f);
}

.carre3{
  font-size: 25px;
  color: white;
  border: 4px solid #22c3f8;
  background-image: linear-gradient(to left, #22c3f8, #22c3f8, #8bceff,
  #8bceff, #ffffff);
}

.titreCase {
  position: absolute;
  top:15px;
  left: 25px;
}  

.partie1{
  width: 200px;
  height : 80px;
  font-size: 25px;
  color: white;
}

.partie2{
  width: 200px;
  height : 80px;
  font-size: 25px;
  color: white;
}

.partie3{
  width: 200px;
  height : 80px;
  font-size: 25px;
  color: white;
}

.partie1a{
  width: 200px;
  height : 100px;
  font-size: 15px;
  text-align: justify;
  color: gray;
  background: #fcacd6;
}

.partie2a{
  width: 200px;
  height : 100px;
  font-size: 15px;
  text-align: justify;
  color: gray;
  background: #bfff77;
}

.partie3a{
  width: 200px;
  height : 100px;
  font-size: 15px;
  text-align: justify;
  color: gray;
  background: #a6ddf0;
}

/*Style projet jeunes index fin*/

/*Style partenaires*/

table{
  display: flex;
  justify-content: center;
  text-align: center;
}

td{
  padding: 25px;
}

.image-partenaire{
  width: 250px;
  height: 200px;
}

#partenaires-texte{
  font-size: 25px;
  text-align: center;
  color: gray;
}

#texte-couleur{
  color: #022164;
}

/*Style partenaires fin*/

/*Style page jeune compte  */ 

.jeune_compte_div {
  display: none;

}